@import "public";
@import "pubind";

// center
.center{
    margin-top: 52px;
    background: #eee;
  
}
.wrapper{
    width: 1190px;
    margin: 0 auto;
}
.mob_banner {
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 52px;
    background: none;
}
.partssltbar {
    width: 1190px;
    height: 220px;
    margin: 0 auto;
    background: #fff;
    margin-top: 17px;
    margin-bottom: 20px;
}
.parts_selc {
    overflow: hidden;
    line-height: 28px;
    border-bottom: #e9e9e9 1px solid;
    clear: both;
    font-size: 14px;
    padding: 13px 0;
    margin: 0 20px;
    position: relative;
    em{font-style: normal;} 
    dt{
        width: 78px;
        float: left;
    }
    dd{
        margin-right: 20px;
        float: left;
    }
    em:hover{
        color: orange;
    }
}
.mob_cont{
    width: 100%;
    background: #eee;
    padding-bottom: 30px;
    margin-top: -1px;
}
.mob_listCon{
    border-top: 3px solid #DDDDDD;
    width: 1190px;
    height: 1572px;
    margin: 0 auto;
    // background-color: blueviolet;
    text-align: center;
    overflow: hidden;
    ul {
        background: #fff;
        width: 108%;
        margin-bottom: 15px;
    }
}
.mob_pro{
    position: relative;
    float: left;
    width: 297px;
    border-left: none;
    border-top: none;
    border-right: solid #eee 1px;
    padding: 0;
    background: #fff;
    border-bottom: solid #eee 1px;
    padding-bottom: 20px;
    height: 470px;
    overflow: hidden;
}
.ui_pimg {
    display: block;
    width: 210px;
    height: 350px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 10px;
    img{
        margin-left: -40px
    }
}
.ui_pname {
    font-size: 14px;
    color: #000;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 0;
}
.ui_pslogan {
    display: block;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
}
.ui_pprice {
    font-family: Arial,Helvetica,sans-serif;
    color: #ef4222;
    font-size: 18px;
}
.ui_pprice_m {
    padding-left: 10px;
    color: #999;
    font-size: 14px;
    font-family: "Microsoft Yahei";
}
